/* Make input button/drag-n-drop larger */
.btn-file , .form-control {
  height: 100px;
}

/* Column selections */
.selectAlign {
  display: flex;
  flex-direction: row;
}
.selectAlign > label {
  width: 40%;
}
.selectAlign > div {
  width: 100%;
}

/* "Generate plots" button */
button#genPlots {
  font-weight: bold;
}

/* More space below download button */
a#downloadPlots {
  margin-bottom: 30px;
  font-weight: bold;
}
