/* Make input button/drag-n-drop larger */
.btn-file , .form-control {
  height: 100px;
}

/* Column selections */
.selectAlign {
  display: flex;
  flex-direction: row;
}
.selectAlign > label {
  width: 40%;
}
.selectAlign > div {
  width: 100%;
}

/* Token exclusions */
#excludeTokens .form-group {
  margin: 0;
}
#excludeTokens .form-group:last-child {
  margin-bottom: 15px;
}

/* "Generate plots" button */
button#genPlots {
  font-weight: bold;
}

.summary {
  margin-top: 0px;
}

.footer {
  text-align: center;
  padding-top: 10px;
}
